<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzh.uni.mapper.UniNewsMapper">
    
    <resultMap type="UniNews" id="UniNewsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUniNewsVo">
        select id, name, content, create_time, update_time from uni_news
    </sql>

    <select id="selectUniNewsList" parameterType="UniNews" resultMap="UniNewsResult">
        <include refid="selectUniNewsVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectUniNewsById" parameterType="Integer" resultMap="UniNewsResult">
        <include refid="selectUniNewsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUniNews" parameterType="UniNews" useGeneratedKeys="true" keyProperty="id">
        insert into uni_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUniNews" parameterType="UniNews">
        update uni_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUniNewsById" parameterType="Integer">
        delete from uni_news where id = #{id}
    </delete>

    <delete id="deleteUniNewsByIds" parameterType="String">
        delete from uni_news where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>