<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzh.system.mapper.UniPopularScenicSpotMapper">
    
    <resultMap type="UniPopularScenicSpot" id="UniPopularScenicSpotResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="introduction"    column="introduction"    />
        <result property="isHot"    column="is_hot"    />
        <result property="city"    column="city"    />
        <result property="details"    column="details"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUniPopularScenicSpotVo">
        select id, name, address, introduction, is_hot, city, details, create_time, update_time from uni_popular_scenic_spot
    </sql>

    <select id="selectUniPopularScenicSpotList" parameterType="UniPopularScenicSpot" resultMap="UniPopularScenicSpotResult">
        <include refid="selectUniPopularScenicSpotVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
            <if test="isHot != null  and isHot != ''"> and is_hot = #{isHot}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="details != null  and details != ''"> and details = #{details}</if>
        </where>
    </select>
    
    <select id="selectUniPopularScenicSpotById" parameterType="Integer" resultMap="UniPopularScenicSpotResult">
        <include refid="selectUniPopularScenicSpotVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUniPopularScenicSpot" parameterType="UniPopularScenicSpot" useGeneratedKeys="true" keyProperty="id">
        insert into uni_popular_scenic_spot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="introduction != null and introduction != ''">introduction,</if>
            <if test="isHot != null and isHot != ''">is_hot,</if>
            <if test="city != null and city != ''">city,</if>
            <if test="details != null and details != ''">details,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="introduction != null and introduction != ''">#{introduction},</if>
            <if test="isHot != null and isHot != ''">#{isHot},</if>
            <if test="city != null and city != ''">#{city},</if>
            <if test="details != null and details != ''">#{details},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUniPopularScenicSpot" parameterType="UniPopularScenicSpot">
        update uni_popular_scenic_spot
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="introduction != null and introduction != ''">introduction = #{introduction},</if>
            <if test="isHot != null and isHot != ''">is_hot = #{isHot},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="details != null and details != ''">details = #{details},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUniPopularScenicSpotById" parameterType="Integer">
        delete from uni_popular_scenic_spot where id = #{id}
    </delete>

    <delete id="deleteUniPopularScenicSpotByIds" parameterType="String">
        delete from uni_popular_scenic_spot where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>